FroggerProject/PSX/Code/*.obj
FroggerProject/PSX/Code/*.c
FroggerProject/PSX/Code/*.h
FroggerProject/PSX/Code/*.cpe
FroggerProject/PSX/Code/*.sym
FroggerProject/PSX/Code/*.map
FroggerProject/PSX/Code/*.txt
FroggerProject/PSX/Code/burn