BUILD/TEMP
BUILD/Burn/frogger.dat
BUILD/Burn/frogger.map
BUILD/Burn/frogger.sym
BUILD/Burn/SLUS_011.72
BUILD/Burn/SLES_028.53
BUILD/Burn/system.cnf
BUILD/Burn/license_data.dat
BUILD/Assets/game.bin
BUILD/Assets/lang.bin
BUILD/Assets/video.bin
BUILD/Assets/language.txt
BUILD/CD
PSXLibraries/Src/C
PSXLibraries/Src/*/*.obj
PSXLibraries/Src/*/Release/*.lib
PSXLibraries/Src/*/Debug/*.lib
SDKOptions/